
{% include style.html %}
{% include music-banner.html %}
{% include plugin-setup.html %}
{% include analytics.html %}


<script>
// vim: ts=3:ft=javascript


//////////////////////////////
//
// DOMContentLoaded event listener -- add a link to the homepage from the title
//    of the page, if the page is not the homepage.
//

document.addEventListener("DOMContentLoaded", function(event) {
	var location = window.location.pathname;
	if (!location || location === "/") {
		return;
	}
	var header = document.querySelector("header h1");
	var text = "<a href='/'>" + header.innerHTML + "</a>";
	header.innerHTML = text;
});


</script>
