<script>
// vim: ts=3
// 
// Highlight pitch classes in Hummel example on main page
//



//////////////////////////////
//
// highlightPitchClasses -- When the mouse is moved over a note in Humdrum-generated
//   notation, similar pitch classes in the notation will be highlighted.
//

function highlightPitchClasses(id) {
	var humcontainer = document.querySelector("#" + id + "-container");
	if (!humcontainer) {
		console.log("Cannot find humdrum plugin container for", id);
		return;
	}
	var svgcontainer = humcontainer.querySelector("#" + id + "-svg");
	if (!svgcontainer) {
		console.log("Cannot find SVG image container for", id);
		return;
	}
	var svg = svgcontainer.querySelector("svg");
	if (!svg) {
		console.log("Cannot find SVG image for", id);
		return;
	}

	var i;
	svg.addEventListener("mouseover", function(event) {
		var elements = svg.querySelectorAll(":hover");
		var sourcenote = null;
		for (i=0; i<elements.length; i++) {
			if (elements[i].nodeName != "g") {
				continue;
			}
			var classname = elements[i].getAttribute("class");
			if (classname.match(/\bnote\b/)) {
				sourcenote = elements[i];
			}
		}
		var notes = svg.querySelectorAll("g.note");
		if (!sourcenote) {
			for (i=0; i<notes.length; i++) {
				notes[i].style.fill = "";
			}
		} else {
			var matches = sourcenote.getAttribute("class").match(/(b40c-\d+)/);
			var matches2 = sourcenote.getAttribute("class").match(/pname-([a-g])/);
			var color = "red";
			if (matches2) {
				var pitchname = matches2[1];
				if (pitchname === "c") {
					color = "chartreuse";
				} else if (pitchname === "d") {
					color = "deepskyblue";
				} else if (pitchname === "e") {
					color = "red";
				} else if (pitchname === "f") {
					color = "gold";
				} else if (pitchname === "g") {
					color = "lightblue";
				} else if (pitchname === "a") {
					color = "mediumpurple";
				} else if (pitchname === "b") {
					color = "chocolate";
				}
			}
			if (matches) {
				var targetclass = matches[1];
				for (i=0; i<notes.length; i++) {
					if (notes[i].getAttribute("class").match(targetclass)) {
						notes[i].style.fill = color;
					}
				}
			}
		}
		
	});



}


</script>




