
<style>

body {
	text-shadow: none !important;
	background: #f0f0f0;
}

p {
	color: black;
}

h1 {
	color: #4276b6;
	font-weight: bold;
	padding-bottom: 20px;
}


h1:not(:first-of-type) {
	padding-top: 40px;
}


pre {
	text-align: left;
}

div#banner {
	display: none;
}

div#newbanner {
	background: #ffcc00;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	border-radius: 0px 2px 2px 0px;
	padding-right: 5px;
	padding-bottom: 0px;
}

section {
	margin-top: 50px !important;
}

nav {
	top:320px;
}

nav ul a {
	color: #4276b6 !important;
}

#newbanner td, #newbanner tr, #newbanner table {
	padding: 0;
}

div#title {
	margin-top: -20px;
	padding-left: 3px;
	position: absolute;
	z-index: 2000;
	color: #ffcc00;
}

div#title a {
	color: #ffcc00;
}

@media print, screen and (max-width: 480px) { 
	div#title {
		display: none;
	}
}

footer p:nth-child(2) { 
	display: none;
}

</style>

