
<div class="tryit"
	style="
	position: relative;
	{% if include.marginTop %}
		margin-top:{{include.marginTop}};
	{% endif %}
	{% if include.marginBottom %}
		margin-bottom:{{include.marginBottom}};
	{% endif %}
	{% if include.paddingBottom %}
		padding-bottom:{{include.paddingBottom}};
	{% endif %}
	{% if include.marginRight %}
		margin-top:{{include.marginRight}};
	{% endif %}
	{% if include.zIndex %}
		z-index:{{include.zIndex}};
	{% endif %}
	"
>
	<a target="_blank" href="https://www.w3schools.com/code/tryit.asp?filename={{include.id}}">Try it online</a>
</div>


