

<style>
{% include menu/menu.css %}
</style>


<div id="mainmenu" class="clearfix" role="navigation">
      <div class="container">
        <div class="navbar navbar-default"> 
          
          <!-- main navigation -->
<!--
          <button type="button" class="navbar-toggle btn-navbar" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="menu-text">Menu</span></button>
-->
          <button type="button" class="navbar-toggle btn-navbar" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="menu-text">Menu</span></button>
          <!-- /nav-collapse -->
          
<!--
          <div class="navbar-collapse collapse"> 
-->
          <div class="navbar-collapse"> 
            <!--search box-->
<!--
            <div id="nav-search" role="search">
              <form action="http://www.stanford.edu/search" method="get" id="search-form" accept-charset="UTF-8">
                <h2 class="hidden">Search form</h2>
                <label class="hidden" for="search-field">Search term</label>
                <input name="cx" type="hidden" value="003265255082301896483:sq5n7qoyfh8">
                <input name="cof" type="hidden" value="FORID:9">
                <input name="ie" type="hidden" value="UTF-8">
                <input name="as_sitesearch" type="hidden" value="facts.stanford.edu">
                <input title="Search string" class="input-medium" placeholder="Search this site&hellip;" type="text" id="search-field" name="q" value="" size="15" maxlength="128" />
                <button id="search-btn" type="submit" name="submit"  aria-label="Search" formmethod="get"><i class="fa fa-search"></i></button>
              </form>
            </div>
-->
		<div role="navigation">
   <div id="primary-nav">
      <ul class="highlight nav navbar-nav" aria-label="primary navigation">
         <li id="nav-home"> <a href="/">Home</a></li>

         <li id="nav-1">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topics <b class="caret"></b></a>
            <ul class="dropdown-menu">
               <li><a href="/topic/musicxml">Importing MusicXML data</a></li>
               <li><a href="/topic/mei">Importing MEI data</a></li>
               <li><a href="/topic/coloring">Coloring notes</a></li>
               <li><a href="/topic/saving">SVG save buttons</a></li>
               <li><a href="/topic/wikimedia">Wikimedia plugin</a></li>
            </ul>
         </li>

         <li id="nav-2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
            <ul class="dropdown-menu">
               <li><a href="/options/resize">Resizing music</a></li>
               <li><a href="/options/url">Download external URLs</a></li>
               <li><a href="/options/embedded">Embedding options</a></li>
            </ul>
         </li>


         <li id="nav-3">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demos <b class="caret"></b></a>
            <ul class="dropdown-menu">
               <li><a href="/topic/toggle">Teton Sioux music: toggling notation in title list</a></li>
               <li><a target="_blank" href="https://chorales.sapp.org">Bach chorales website</a></li>
            </ul>
         </li>

         <li id="nav-4"> <a target="_blank" href="http://verovio.humdrum.org">VHV</a> </li>
      </ul>
   </div>
</div>

          </div>
          <!-- /nav-collapse --> 
        </div>
        <!-- /navbar --> 
        
      </div>
      <!-- /container --> 
    </div>
